<div class="wrapper">
  <!-- Sidebar -->
  <aside id="sidebar">
    <div class="profile">
      <div class="profileImgWrapper">
        <img src="./assets/user-icon.webp" alt="Profile Picture">
        <h2>John Doe</h2>
      </div>

      <p>@johndoe</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
      <div class="follow">
        <button>Follow</button>
      </div>
    </div>
    <!-- Trending section -->
    <div class="trending">
      <h2>Trending</h2>
      <ul>
        <li>#topic1</li>
        <li>#topic2</li>
        <li>#topic3</li>
        <li>#topic4</li>
        <li>#topic5</li>
        <!-- Add more trending topics -->
      </ul>
    </div>
  </aside>

  <!-- Main content -->
  <main id="main-content">

    <!-- Post tweet section -->
    <div class="post-tweet">
      <form id="tweet-form">
        <textarea type="text" maxlength="300" [(ngModel)]="body" id="tweet-text" name="body"
                  placeholder="What's happening?"
                  required></textarea>
        <div class="post-tweet-button">
          <button type="submit" (click)="postTweet()">Tweet</button>
        </div>
      </form>

    </div>


    <!-- Tweet section -->
    <div class="tweet" *ngFor="let tweet of tweets">
      <img src="./assets/user-icon.webp" alt="Tweet Picture">
      <div class="tweet-content">
        <h3>Name Name</h3>
        <p>@namename - {{ formatDate(tweet.createdAt) }}</p>
        <p>{{ tweet.body }}</p>
        <div id="react-form">
          <button type="button" (click)="likeTweet(tweet.id)">Like</button>
          <button type="button" (click)="toggleCommentBox(tweet.id)">Comment</button>
          <button type="button">Follow</button>
        </div>

        <!-- Comment section starts here -->
        <div class="comments" *ngIf="activeCommentBox === tweet.id">
          <textarea [(ngModel)]="commentBody" placeholder="Write a comment..." class="comment-input"></textarea>
          <button (click)="postComment(tweet.id)" class="submit-comment">Post Comment</button>
          <div class="comment" *ngFor="let comment of tweet.comments">
            <strong>@{{ comment.userId }}:</strong> {{ comment.body }}
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="tweets.length == 0" style="display: flex; justify-content: center">
      <h2>Feels empty in here... Go make a tweet!</h2>
    </div>

  </main>
</div>
